body {
  font-family: sans-serif;
}
.App input{
border: 2px solid #2b45e2;
text-align: center;
max-width: 100%;
}
.App{
background-color: #f0ffff;
padding: 2%;
}
.App p:hover{
color: #b55c07;
font-weight: bold;
}
.App img{
max-width: 14%;
height: auto;
}